{{# extend "base-layout"}}
  {{#content "main"}}

  <!-- START introduction component -->
  <section
    data-fa-row-strip
    class="fa-row-strip"
    data-background-color="#ffffff"
  >
    <div class="container">
      <h1>Home</h1>
    </div>
  </section>
  <!-- END introduction component -->


  {{/content}}
{{/extend}}
