<header class="site-header">
  <a class="site-header__logo" href="/">
    <span>Home</span>
    <img src="{{assets.logo}}" alt="site logo" />
  </a>

  <div class="site-header__navigation">
    {{> navigation/navigation navigation}}
  </div>
</header>
