<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
  <meta name="msapplication-config" content="/assets/images/favicons/browerconfig.xml"/>

  <title>Site in a box - {{title}}</title>

  <link rel="stylesheet" href="/styles/main.css">

  <script src="/scripts/main.js" defer></script>
</head>
  <body>
